
* {
  box-sizing: border-box;
  padding:0;
  margin: 0;
  font-family: sans-serif;
  user-select: none;
  text-decoration: none;
  list-style: none;
}

body {
  
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  background: #eee;
}

html {
  scroll-behavior: smooth;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #0078c7;
  /* border-radius: 1px; */
  width: 5px;
}